@tailwind base;
@tailwind components;
@tailwind utilities;

.hw-bg {
	background-image: url('/assets/hallow-bg.png');
	background-repeat: repeat;
	background-size: 500px;
    background-attachment: fixed;
}
